<%= render 'header' %>
<%= render 'menu' %>
<div class="sp_promo_wrapper">
    <div class="container">
        <!-- <div class="breadcrumbs"><a href="#" class="breadcrumbs_link">home /</a><a href="#" class="breadcrumbs_link">products /</a><a href="#" class="breadcrumbs_link">Stack Parking System</a></div> -->
        <div class="sp_promo">
            <h1 class="sp_promo_title">Sistemul de Parcare Puzzl</h1>
            <p class="sp_promo_text">Sistemul Puzzle este destinat utilizării </p>
            <p class="sp_promo_text">optime a spațiului pe teren.</p>
            <p class="sp_promo_text">Este proiectat electromecanic pentru a</p>
            <p class="sp_promo_text">merge vertical până la 9 nivele și orizontal,</p>
            <p class="sp_promo_text">la cât mai mult spațiu disponibil pe teren.</p>
            <p class="sp_promo_text">basement type parking.</p><a href="#" class="sp_promo_btn">GET A QUOTE</a>
        </div>
    </div>
</div>
<form id="form">
    <div class="form"><a href="#" class="form_close"><i aria-hidden="true" class="far fa-times-circle"></i></a>
        <h2>Send Enquiry</h2>
        <label>Name
            <input id="name" type="text" placeholder="Name" required="required">
        </label>
        <label>Email
            <input id="email" type="email" placeholder="Email" required="required">
        </label>
        <label>Phone
            <input id="tel" type="tel" placeholder="Phone" required="required">
        </label>
        <label>Message
            <textarea name="#" cols="0" rows="5"
                      placeholder="hi, i like your puzzleparking system, and wonna order it..."
                      required="required"></textarea>
        </label>
        <div class="submit">
            <button type="submit">Submit</button>
        </div>
    </div>
</form>
<div class="sp_features_wrapper-pzl">
    <div class="sp_features">
        <div class="container">
            <div class="sp_features_title">Caracteristici Speciale</div>
            <div class="row">
                <div class="sp_features_item col-12 col-md-4 d-flex flex-column justify-content-between">
                    <div class="row p-b"><span class="sp_features_icon barrier col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Bariera tubulară galbenă </h5>
                            <p class="sp_features_text">Bariera în cauză asigură că șoferul a ajuns la capătul paletei și că lasă automobilul fără a-și face griji, știind că autoturismul său este parcat în siguranță.</p>
                        </div>
                    </div>
                    <div class="row p-b"><span class="sp_features_icon encrypt col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Blocaj de siguranță</h5>
                            <p class="sp_features_text">Acest mecanism de blocare de siguranță trimite semnale către PLC în timp ce blochează și deblochează paleta și până la care nu poate fi efectuată nici o altă operațiune prin nici un mijloc.</p>
                        </div>
                    </div>
                    <div class="row p-b"><span class="sp_features_icon safe col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Platforme anti – corozive </h5>
                            <p class="sp_features_text">Platforma este realizată din tablă galvanizată și vopseaua de înaltă calitate este utilizată pentru foi laterale.</p>
                        </div>
                    </div>
                </div>
                <div class="sp_features_item col-12 col-md-4 d-flex flex-column justify-content-between">
                    <div class="row p-b"><span class="sp_features_icon stl col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Furnizarea pentru conectarea la Master Controler</h5>
                            <p class="sp_features_text">Opțiunea de a conectare la Master Controler împreună cu toate construcțiile din SMART PARKING LOGIC, întreaga instalație de parcare poate fi gestionată cu ușurință</p>
                        </div>
                    </div>
                    <div class="row p-b"><span class="sp_features_icon pht col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Indication Lamps and Buzzers</h5>
                            <p class="sp_features_text">The sensor makes sure the car parked above does not move
                                downwards when there is car parked below, even if it is signaled (knowingly or
                                unknowingly) by anyone to come down.</p>
                        </div>
                    </div>
                    <div class="row p-b"><span class="sp_features_icon tapp col-3"></span>
                        <div class="col-9">
                            <h5 class="sp_features_name">Ecranul tactil</h5>
                            <p class="sp_features_text">Afișajul cu ecranul touch a fost conceput pentru a stabili o comunicare bidirecțională între sistem și utilizator. Acest lucru asigură o experiență pozitivă de parcare.</p>
                        </div>
                    </div>
                </div>
                <div class="sp_features_item col-12 col-md-4 sp_bg"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">

    <div class="gallery row justify-content-between">
        <div class="gallery_item col-12 col-md-6">
            <div class="pzl-video-description">
                <p>Sistemul Puzzle este destinat utilizării optime a spațiului pe teren. Este proiectat electromecanic
                    pentru a merge vertical până la 9 nivele și orizontal, la cât mai mult spațiu disponibil pe
                    teren</p>
            </div>
        </div>
        <div class="gallery_item col-12 col-md-6 pos-rel">
            <h2 class="gallery_item_title">SEE VIDEO</h2>
            <div class='video-wrapper'>
                <!-- <img class="video-play-btn" src="../images/Vector.png"> -->
                <!-- <a href="javascript://" class='button'></a> -->
                <div class='video'>
                    <iframe id="player" width="560" height="300"
                            src="https://www.youtube.com/embed/z4UpIqlU0-E?showinfo=0" frameborder="0"
                            allowfullscreen></iframe>
                    <a class="close" href="#"><img src="/images/close.svg" alt=""></a>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row slide-block" style="margin-right: 0;">
<div class="container">
    <h3>Gallery</h3>
    <div class="pzl-slider-block col-sm">
        <div class="pzl-slider-for">
            <div><img src="../uploads/grp.png"></div>
            <div><img src="../uploads/crl2.jpg"></div>
            <div><img src="../uploads/crl1.jpg"></div>
            <div><img src="../uploads/crl3.jpg"></div>
            <div><img src="../uploads/crl4.jpg"></div>
        </div>
        <div class="pzl-slider-nav">
            <div><img src="../uploads/grp.png"></div>
            <div><img src="../uploads/crl2.jpg"></div>
            <div><img src="../uploads/crl1.jpg"></div>
            <div><img src="../uploads/crl3.jpg"></div>
            <div><img src="../uploads/crl4.jpg"></div>
        </div>
    </div>
</div>
</div>


<%= render 'footer' %>

<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/why.js"></script>
<script src="/vendor/slick-slider/slick/slick.min.js"></script>
<script src="/vendor/fancybox/jquery.fancybox.js"></script>
<script type="/text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<style>
    a:-webkit-any-link {
        color: -webkit-link;
        cursor: pointer;
        text-decoration: underline;
    }
</style>